In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("insurance.csv")

In [3]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
data.describe()
#only numerical data

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [8]:
data.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [9]:
data = pd.get_dummies(data)
#get_dummies gets the data in numerical form
data.head()

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,1,0,0,1,0,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0,0,0,1,0
2,28,33.000,3,4449.46200,0,1,1,0,0,0,1,0
3,33,22.705,0,21984.47061,0,1,1,0,0,1,0,0
4,32,28.880,0,3866.85520,0,1,1,0,0,1,0,0

In [10]:
data.drop(['sex_female','smoker_no'],axis = 1, inplace = True)
#inplace - dataframe is modified in place

In [11]:
#removed one of the columns to remove redundancy in information
#sex female and sex male show same information
data.rename(columns={'sex_male':'gender','smoker_yes':'smoker'},inplace = True)

In [12]:
data.head()

,age,bmi,children,charges,gender,smoker,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,0,1,0,0,0,1
1,18,33.770,1,1725.55230,1,0,0,0,1,0
2,28,33.000,3,4449.46200,1,0,0,0,1,0
3,33,22.705,0,21984.47061,1,0,0,1,0,0
4,32,28.880,0,3866.85520,1,0,0,1,0,0

In [13]:
# divide dataset into dependent and independent variables
#get the independent variable
X = data.drop('charges',axis = 1)
X.head()

,age,bmi,children,gender,smoker,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,0,1,0,0,0,1
1,18,33.770,1,1,0,0,0,1,0
2,28,33.000,3,1,0,0,0,1,0
3,33,22.705,0,1,0,0,1,0,0
4,32,28.880,0,1,0,0,1,0,0

In [14]:
#get the dependent variable
Y = pd.DataFrame(data['charges'])
Y.head()

       charges
0  16884.92400
1   1725.55230
2   4449.46200
3  21984.47061
4   3866.85520

In [17]:
#divide the data into training and testing data
from sklearn.model_selection import train_test_split

#80% to training and 20% to testing 
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size = 0.2, random_state = 2)
#random_state - measure the same training or testing data is generated
#it could generate different training and testing datasets and not sequential
#you can give any value not only 2
print(X_train.shape)
print(Y_train.shape)
print(X_test.shape)
print(Y_test.shape)

(1070, 9)
(1070, 1)
(268, 9)
(268, 1)

In [20]:
#simple linear regression
from sklearn.linear_model import LinearRegression
simple_linreg = LinearRegression()

In [21]:
#Fit or train the model with training data
#passing one variable
x-smoker
simple_linreg.fit(pd.DataFrame(X_train.smoker), Y_train)
Y_pred = simple_linreg.predict(pd.DataFrame(X_test.smoker))

In [22]:
Y_pred

array([[ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [32221.61500274],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [32221.61500274],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [32221.61500274],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [32221.61500274],
       [32221.61500274],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [32221.61500274],
       [32221.61500274],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [32221.61500274],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [32221.61500274],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [32221.61500274]])

In [23]:
print(simple_linreg.score(pd.DataFrame(X_test.smoker),Y_test))

0.5873875312183237

In [24]:
#multi linear regression

linreg = LinearRegression()
linreg.fit(X_train,Y_train)
Y_pred_new = linreg.predict(X_test)

In [25]:
Y_pred_new

array([[ 1917.97181268],
       [11986.25940683],
       [10490.48005024],
       [ 2304.12993764],
       [ 8293.50537439],
       [11166.05230839],
       [ 3358.09571616],
       [ 1110.00194483],
       [12035.96686456],
       [ 9458.90891087],
       [11475.43801642],
       [ 4977.20823308],
       [29988.80508348],
       [ -333.98329066],
       [12839.16716952],
       [13302.13897035],
       [ 4214.06014424],
       [ 7733.66701876],
       [29469.42265735],
       [ 2785.76430971],
       [12330.84787632],
       [ 1943.6920458 ],
       [34165.03632868],
       [32149.01814535],
       [30372.03803201],
       [ 8680.40490722],
       [ 2331.07291026],
       [15346.88495896],
       [ 6246.75682763],
       [ 1918.54519042],
       [ 9560.23819844],
       [ 5634.94852703],
       [ 4111.97039758],
       [ 4832.1119442 ],
       [ 9655.10533141],
       [ 4682.16691117],
       [29949.10058733],
       [ 6469.8521875 ],
       [27630.83244058],
       [14053.65862895],
       [  128.3473841 ],
       [28081.44965538],
       [ 7705.33345681],
       [ 1156.07310721],
       [10352.68302279],
       [ 7709.6729657 ],
       [11446.95109489],
       [ 8252.72561517],
       [10849.18051924],
       [13488.08449559],
       [ 6190.71978812],
       [-1080.89646296],
       [26159.10918883],
       [36998.24425008],
       [ 7049.80237712],
       [17578.36536406],
       [ 1073.85318513],
       [11118.10109778],
       [ 1839.96829945],
       [34118.0743567 ],
       [11448.51609221],
       [  541.99651775],
       [ 3850.69201502],
       [35977.27146433],
       [-1380.43690554],
       [14378.57636317],
       [14526.26942327],
       [ 3463.92480806],
       [12990.30873997],
       [11047.47769513],
       [11262.0124413 ],
       [16225.70977138],
       [10003.61592478],
       [ 9598.16444261],
       [15576.62716352],
       [12076.47913694],
       [ 4084.91299021],
       [ 3502.54683165],
       [ 5405.04504703],
       [13117.86262491],
       [ 8817.41092497],
       [12354.23176353],
       [ 9624.07231152],
       [27349.71490615],
       [12697.79446437],
       [ 3810.47586444],
       [38591.27282645],
       [10992.22220897],
       [ 8478.01803924],
       [11158.48370331],
       [11383.01231089],
       [14817.21187309],
       [11153.60872514],
       [13481.73080262],
       [ 5718.47498006],
       [25761.36736345],
       [ 4807.83474261],
       [10608.07489765],
       [ 3109.48966609],
       [29040.92548477],
       [ 6807.24913461],
       [ 3536.63390292],
       [ 2329.10057423],
       [16065.59061712],
       [ 7732.3844716 ],
       [ 9954.78299186],
       [ 9799.4848055 ],
       [ 5124.04433102],
       [15297.56798599],
       [34163.08264014],
       [ 3844.44011202],
       [11190.06716292],
       [25016.84293218],
       [15254.06723953],
       [ 2153.40115315],
       [10205.55290765],
       [ 8898.57706828],
       [ 6114.81674149],
       [11516.45536255],
       [28909.62696769],
       [ 6234.71280931],
       [ 6853.32600591],
       [15945.26936633],
       [16672.50804479],
       [ 8346.64981722],
       [26710.81211374],
       [35317.79497954],
       [11547.83972673],
       [ 7904.46038165],
       [ 9429.08813779],
       [ 8284.66077425],
       [ 3342.50851348],
       [ 3016.6630483 ],
       [ 4515.14786726],
       [ 8153.18394851],
       [ 8436.69945336],
       [ 7120.69065259],
       [28809.53020344],
       [34865.82513244],
       [ 3980.1412814 ],
       [27557.53130578],
       [ 3991.74141987],
       [ 6468.12072052],
       [13389.2277258 ],
       [ 7708.39041854],
       [36531.98867029],
       [11631.61836096],
       [11165.78938508],
       [ 8116.36950857],
       [  190.92403948],
       [ 6201.6593063 ],
       [ 7254.2949597 ],
       [ 4718.77740971],
       [11339.76936186],
       [11445.19400987],
       [15547.9958119 ],
       [ 6267.5208045 ],
       [28073.48665017],
       [ 1790.35296056],
       [11889.6853348 ],
       [17409.10616625],
       [13997.73844256],
       [ 9200.71189586],
       [ 2680.59224491],
       [ 4234.36909118],
       [ 8995.20408482],
       [19169.32538297],
       [28658.75526193],
       [13071.91430092],
       [ 3019.03909771],
       [32747.37816163],
       [12804.81217553],
       [33207.89374063],
       [34756.94924466],
       [11580.38215073],
       [ 7255.93051986],
       [ 3042.50619253],
       [ 2785.76430971],
       [11728.22658793],
       [ 7582.97839446],
       [ 2745.43064233],
       [  976.53340253],
       [31486.67639919],
       [ 6972.76618507],
       [ 5633.52797094],
       [27133.76783857],
       [ 7031.51538802],
       [ 2711.52353454],
       [ 7767.90438856],
       [35206.36433167],
       [ 8032.35385656],
       [ 4387.66814949],
       [ 9550.14254705],
       [27267.11926611],
       [ 6136.82647742],
       [40261.093897  ],
       [37158.85583332],
       [13427.87497839],
       [26869.53470098],
       [12333.71369567],
       [37547.72013644],
       [ 7219.61555215],
       [ 4038.33591617],
       [ 1791.29006045],
       [14492.61223969],
       [13841.29561058],
       [ 2585.39232416],
       [35736.53555543],
       [12494.81263578],
       [ 8793.96916655],
       [  805.03743175],
       [30693.44574464],
       [ 3893.06521758],
       [ 3859.38201393],
       [12415.38475849],
       [14911.49962833],
       [29340.61077945],
       [ -426.40660996],
       [ 3254.35746822],
       [ 8285.25242687],
       [40175.53682185],
       [ 8416.69340982],
       [35534.66313014],
       [27138.78458508],
       [13557.07763739],
       [28938.81105066],
       [16971.76535354],
       [ 7667.13048609],
       [15994.36997504],
       [ 7200.38365048],
       [10636.09659812],
       [ 3387.73554741],
       [ 8495.97255433],
       [ 1730.21039474],
       [32886.47639742],
       [31889.53953376],
       [14516.43319828],
       [11117.33367697],
       [ 1420.67928019],
       [ 6110.82337823],
       [10864.60420947],
       [ 4244.48636012],
       [10670.68542046],
       [  710.96545693],
       [34698.75420788],
       [32456.73416414],
       [10337.22182108],
       [26389.06229651],
       [12648.44109234],
       [ 2134.17760828],
       [10898.76741212],
       [ 2849.00062536],
       [ 7941.94650455],
       [10339.21885925],
       [16807.49238633],
       [ 5619.58925482],
       [10246.21978125],
       [ -128.61045337],
       [-1962.46360738],
       [ 1581.68524885],
       [27816.35983726],
       [33816.41044794],
       [37776.93312393],
       [-2008.95993274],
       [16150.91280008],
       [36773.82339545],
       [13064.78106465],
       [33977.47787216]])

In [26]:
print(linreg.score(X_test,Y_test))
#the coefficient of linear regression is the score
#best score is 1
#training is good but testing is bad - overfitting
#check accuracy for both training and testing

0.7449415564623687